{% extends "base.html" %}
{% load static tasks_extras %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/tasks.css" %}?v=1">

{% endblock extra_css %}

{% block extra_js %}
    <script type="text/javascript" src="{% static "js/tasks.js" %}?v=1"></script>

{% endblock extra_js %}

{% block content %}
    <div class="container-fluid mt-3 mb-3"> 
        <div class="row mx-auto d-flex justify-content-center mt-2 mb-3">
            <div class="col-auto">
                <div class="btn btn-success speech-button">+</div>
            </div>
        </div>

        <div class="row ms-5 me-5 mx-auto d-flex justify-content-center">
            {% for column in columns %}

                <div class="col-3  rounded  shadow-sm">
                    <div class="row g-1 pt-2 mx-auto justify">
                        <h3 class="col-auto fs-6 mt-2">{{column.name}}</h3>
                        <div class="col-auto"><div id-column="{{column.id}}" class="rounded-5 btn btn-success add-task icon-button">+</div></div>
                        <div class="col-auto"><div id-column="{{column.id}}" class="rounded-5 btn btn-danger remove-tasks icon-button">-</div></div>
                    </div>
                    {% get_tasks_by_column column %}
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock content %}